.featured__item__pic {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px; /* Adjust based on your design */
  background-repeat: no-repeat;
}
.categories {
  padding: 60px 0;
}

.categories__slider {
  position: relative;
}

.categories__item {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.categories__item__pic h5 {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.featured {
  padding: 60px 0;
}

.featured__controls ul {
  list-style: none;
  padding: 0;
}

.featured__controls li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.featured__filter .featured__item {
  margin-bottom: 30px;
}

.latest-product {
  padding: 60px 0;
}

.latest-product__slider {
  position: relative;
}

.latest-product__item__pic img {
  width: 100%;
  height: auto;
}



.hero__item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Default text color */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity */
  z-index: 1;
}

.hero__text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff; /* Default text color */
}

.hero__text span {
  // color: #d8a446; /* Contrasting color for emphasis */
  color: #7fad39;
  font-size: 1.5rem;
  display: block; /* Ensure it starts on a new line */
}

.hero__text h2 {
  font-size: 3rem; /* Adjust size as needed */
  margin: 1rem 0;
}

.hero__text p {
  font-size: 1.2rem;
  margin: 1rem 0; /* Add margin for spacing */
}

.primary-btn {
  background-color: #7fad39; /* Rich saffron color */
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Adjust margin for better spacing */
  margin-bottom: 2rem; /* Adjust margin for better spacing */
}

.primary-btn:hover {
  background-color: #b56400; /* Darker shade for hover effect */
}
