.my-orders-container {
  text-align: center; /* Center align the text */
  margin: 50px auto; /* Center align the container */
  max-width: 600px; /* Limit the max-width of the container */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.success-message {
  color: #7fad39; /* Green for success */
}

.error-message {
  color: #dc3545; /* Red for error */
}

.review-button, .retry-button, .continue-shopping-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.retry-button {
  background-color: #dc3545; /* Red for retry */
}

.retry-button:hover, .review-button:hover, .continue-shopping-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.continue-shopping-button {
  background-color: #7fad39; /* Green for continue shopping */
}

.order-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.order-card p {
  margin: 5px 0;
}

.success-message h2 {
  font-weight: bold;
  color: #7fad39; /* Green color for success */
}

.success-message p {
  font-weight: bold;
  color: #333; /* Dark color for the paragraph text */
}
