    <mat-toolbar color="primary" class="navbar">
      <span class="navbar-brand">India's Heritage Revival</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button>
      <button mat-button routerLink="/admin/home" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
      <button mat-button routerLink="/admin/product" routerLinkActive="active">Product</button>
      <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
      <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Post Coupons</button>
      <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button>
      <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
    </mat-toolbar>
