


body {
  background-color: #ffc64057;
  // background-image: url('assets/img/7096228.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
